.login {
	height: 100%;
	background-size: cover;
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(133, 228, 237, 1) 50%,
		rgba(225, 250, 255, 1) 100%
	);

	h1,h2{
		color: #4b5563;
	}
}
