@font-face {
	font-family: "Poppins";
	src: url("./Poppins/Poppins-Regular.ttf");
}

@font-face {
	font-family: "Poppins";
	font-style: italic;
	src: url("./Poppins/Poppins-Italic.ttf");
}

@font-face {
	font-family: "Poppins";
	font-weight: bold;
	src: url("./Poppins/Poppins-SemiBold.ttf");
}
