@import url("public/fonts/fonts.scss");

html,
body,
.principal-container,
#root {
	margin: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
}

*[hidden] {
	visibility: hidden !important;
}

.error {
	color: (var(--red-500)) !important;
}

.p-column-filter-overlay-menu .p-column-filter-buttonbar {
	gap: 10px;
}

.p-dialog {
	.p-dialog-content {
		padding: 2rem 1.5rem 2rem 1.5rem;
	}

	.p-dialog-footer {
		padding: 0.5rem 1.5rem 1.5rem 1.5rem;
	}
}

label[for]{
	font-weight: 500;
}